<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SERVLET_REGISTRATION_DATABASE</servlet-name>
        <servlet-class>SERVLET_REGISTRATION_DATABASE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SERVLET_LOGIN_DATABASE</servlet-name>
        <servlet-class>SERVLET_LOGIN_DATABASE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginService</servlet-name>
        <servlet-class>LoginService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>COURSE_SELECTIO_PAGE</servlet-name>
        <servlet-class>COURSE_SELECTIO_PAGE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SERVLET_COURSE_PAGE</servlet-name>
        <servlet-class>SERVLET_COURSE_PAGE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet1</servlet-name>
        <servlet-class>Servlet1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SERVLET_REGISTRATION_DATABASE</servlet-name>
        <url-pattern>/SERVLET_REGISTRATION_DATABASE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SERVLET_LOGIN_DATABASE</servlet-name>
        <url-pattern>/SERVLET_LOGIN_DATABASE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginService</servlet-name>
        <url-pattern>/LoginService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>COURSE_SELECTIO_PAGE</servlet-name>
        <url-pattern>/COURSE_SELECTIO_PAGE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SERVLET_COURSE_PAGE</servlet-name>
        <url-pattern>/SERVLET_COURSE_PAGE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet1</servlet-name>
        <url-pattern>/Servlet1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>HTML_HOME_PAGE.html</welcome-file>
    </welcome-file-list>
</web-app>
